@import 'sizes.scss';

.wrapper {
  align-items: flex-end;
  display: flex;
  margin: 8vw 0 4vw;
  overflow: hidden;
  position: relative;
  z-index: 2;

  @media (max-width: $m) {
    margin: 5rem 0 2rem;
  }
}

.inner {
  white-space: nowrap;
}

.image {
  display: inline-flex;
  flex-direction: column;
  margin: 0 1rem;
  pointer-events: none;
  width: 20vw;

  @media (max-width: $m) {
    width: 50vw;
  }

  span {
    font-size: max(1vw, 12px);
    font-weight: bold;
    margin-top: 0.5rem;
    text-transform: uppercase;
  }
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
