html,
body {
  color: var(--blue);
  font-family:
    neue-haas-grotesk-display,
    Helvetica Neue,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --dark: #2F0098;
  --main: #4e00ff;
  --blue: #3900B9;
  --red: #FF0045;
  --pink: #C400FF;
  --orange: #FF6C00;
  --light: #C6BCEB;
  --white: #fff;
}
